body{
    margin:0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;

}

div, body, header, nav, ul, footer{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,h2,h3,h4 {
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

/* Stylos del header  */

.header{
    background-color: #48e;
    position: sticky;
    top: 0;
    padding: 12px;
    width: 100%;

    a {
    text-decoration: none;
}
}



.main-navbar ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    justify-content: center;
}

.main-navbar li{
    list-style: none;
    margin: 4px;
}

.main-navbar a {
    color: #fff;
    display: inline-block;
    padding: 6px 9px;
    font-weight: bolder;

    
}


/* Seccion main*/

.main-wrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.secondary-navbar {
    width: 10x;
}

aside, main{
    padding: 10px 20px;
    flex-basis: 0;
    background-color: #fff;
}

main{
    min-width: 300px;
    flex-grow: 2;
}

.main-wrapper aside {
    flex-grow: 1 ;
}

.secondary-navbar{
    min-width: 10rem;
    text-align: center;
}

.secondary-navbar ul{
    padding: 0;
}

.secondary-navbar li{
    list-style: none;

}

.secondary-navbar a {
    color: 48e;
    display: inline-block;
    padding:6px 10px;

}

aside:last-child{
    min-width: 10rem;
}

a:hover{
    opacity: 0.7;
}

/* footer Style*/

footer{
    margin-top: auto;
    border: 1px solid #f00;
    background-color: #333;
    color: #fff;
    padding: 40px;
    font-weight: bold;
    text-align: center;
}
/**
posible feature.

@media screen and (max-width: 800px){
    aside:last-child{
        display:none;
    }
    
}**/


@media screen and (max-width: 400px){

    .header {
        padding: 3px;
        margin: 0px;

    }
    
    .lik__navbar {
        padding: 0px;
        margin: 0px;
    }

    .navbar__sec {
        display: flex;
        flex-direction: row;


    }
}